.header {
	@include alignment-items(flex, space-between, center);
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;

	&--gretting {
		margin-bottom: 5px;
	}

	&__infos--commands {
		border-radius: 100%;
		border: none;
		cursor: pointer;

		>div {
			@include alignment-items(flex, center, center);

			svg {
				font-size: 30px;
				margin: 0 10px;
			}
		}
	}
}
